// app global css in SCSS form
.custom_header {
  //background: linear-gradient(135deg, #00278e, #0a0a0a);
  background: linear-gradient(135deg, #15153c, #070709);
  color: white;
  padding: 5px;
  text-align: left;
  font-size: 24px;
}

.main_page {
  background: linear-gradient(135deg, #243B55, #141E30);
  text-align: left;
  color: white;
  min-height: 100vh;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.main_page h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.main_page p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}

.body_parts_selector {
}

.custom_list {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  margin-bottom: 5vh;
}

.chosen_list {
  background-color: rgba(89, 156, 255, 0.1);
}

.custom_cards {
  padding: 10px;
}

.parts_selector_images {
  margin-top: 15vh;
  //width: 15vw;
  //height: 60vh;
  //margin-left: 42.5vw;
  //width: 15vw;
}

.transparent_background {
  background-color: #00000000;
}

.red_background {
  background-color: red;
}
